<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <appSettings>
   
    
    <!--通联金融出金银行配置-->

    <add key="sys_banktype" value="allinfinance"/>
    
    <!--招商银行-->
    <add key="allinfinance_bank_招商银行_show_true" value="cmb"/>
    <!--中国工商银行-->
    <add key="allinfinance_bank_中国工商银行_show_true" value="icbc"/>
    <!--中国建设银行-->
    <add key="allinfinance_bank_中国建设银行_show_true" value="ccb"/>
    <!--中国农业银行-->
    <add key="allinfinance_bank_中国农业银行_show_true" value="abc"/>
    <!--中国民生银行-->
    <add key="allinfinance_bank_中国民生银行_show_true" value="cmbc"/>
    <!--上海浦东发展银行-->
    <add key="allinfinance_bank_上海浦东发展银行_show_true" value="spdb"/>
    <!--广东发展银行-->
    <add key="allinfinance_bank_广东发展银行_show_true" value="cgb"/>
    <!--兴业银行-->
    <add key="allinfinance_bank_兴业银行_show_true" value="cib"/>
    <!--光大银行-->
    <add key="allinfinance_bank_光大银行_show_true" value="ceb"/>
    <!--交通银行-->
    <add key="allinfinance_bank_交通银行_show_true" value="comm"/>
    <!--中国银行-->
    <add key="allinfinance_bank_中国银行_show_true" value="boc"/>
    <!--平安银行-->
    <add key="allinfinance_bank_平安银行_show_true" value="pingan"/>
    <!--中国邮政储蓄银行-->
    <add key="allinfinance_bank_中国邮政储蓄银行_show_true" value="psbc"/>
    <!--中信银行-->
    <add key="allinfinance_bank_中信银行_show_true" value="citic"/>     
    
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRakeBackService" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRakeBackService" contract="RakeBackService.IRakeBackService" name="BasicHttpBinding_IRakeBackService"/>
    </client>
  </system.serviceModel>
</configuration>
