<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!--1-会员 0-系统管理员-->
    <add key="LoginType" value="0"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRakeBackService" />
        <binding name="BasicHttpBinding_IRakeBackService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRakeBackService" contract="RakeBackService.IRakeBackService"
        name="BasicHttpBinding_IRakeBackService" />
      <endpoint address="http://localhost:8080/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRakeBackService1" contract="ServiceReference1.IRakeBackService"
        name="BasicHttpBinding_IRakeBackService1" />
    </client>
  </system.serviceModel>
</configuration>